{
	"amazon": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "http://localhost/auth/amazon/callback"
	},
	"bitbucket": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "http://localhost/auth/bitbucket/callback"
	},
	"facebook": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "http://localhost/auth/facebook/callback"
	},
	"github": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "https://localhost/auth/github/callback"
	},
	"google": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "https://localhost/auth/google/callback"
	},
	"linkedin": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "https://localhost/auth/linkedin/callback"
	},
	"slack": {
		"clientID": "xxxxxxxxxxxxxx",
		"clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
		"redirectURL": "https://localhost/auth/slack/callback"
	}
}
